body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

.content {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 40px;
}

.content p {
    font-size: 1.1rem;
    margin: 20px 0;
    text-align: justify;
}

.image-container {
    display: flex;
    /* overflow-x: auto; */
    width: 100%;
    margin-top: 20px;
}

.image-container img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: 20px;
}

header {
    padding: 2px;
    background: #007bff;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}